<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
      <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
      <!-- Bootstrap CSS -->

  <title>Reuvez-website</title>
</head>
<body>



</head>
<body>

    {% if error %}
    <div>{{error}} </div>
    {% endif %}

    {% if msg %}
    <div>{{msg}} </div>
    {% endif %}

<div id='login' class="container">
<div class="row">
<div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
    <div class="card">
        <article class="card-body">
            <button id='lg' class="float-right btn btn-outline-primary">Sign up</button>
            <h4 class="card-title mb-4 mt-1">Sign in</h4>
            <form action="{{ url_for('login') }}" method='POST'>
                <div class="form-group">
                    <label>Username</label>
                    {{ loginform.hidden_tag() }}
                    {{loginform.username(class_='form-control' , placeholder='Username' , required=true)}}
                </div> <!-- form-group// -->
                <div class="form-group">
                    <a class="float-right" href="#">Forgot?</a>
                    <label>Your password</label>
                    {{loginform.password(class_='form-control' , placeholder='password' , type="password" , required=true )}}
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="checkbox">
                    <label> <input type="checkbox"> Remember me </label>
                    </div> <!-- checkbox .// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    {{loginform.login(class_="btn btn-primary btn-block")}}
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->

</div> <!-- col.// -->
</div>
</div>

<div id='signup' class="container">
    <div class="row">
    <div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-4">
        <div class="card">
            <article class="card-body">
                <button id='lo' class="float-right btn btn-outline-primary">Sign in</button>
                <h4 class="card-title mb-4 mt-1">Signup</h4>
                <form action="{{ url_for('register') }}" method='POST'>
                    <div class="form-group">
                        <label>Email</label>
                        {{ signupform.hidden_tag() }}
                        {{signupform.email(class_='form-control' , placeholder='Email' , required=true)}}
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Username</label>
                        {{signupform.username(class_='form-control' , placeholder='Username' , required=true)}}
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        <label>Password</label>
                        {{signupform.password(class_='form-control' , placeholder='Password' , required=true)}}
                    </div> <!-- form-group// -->
                    <div class="form-group">
                        {{signupform.signup(class_="btn btn-primary btn-block")}}
                    </div> <!-- form-group// -->
                </form>
            </article>
        </div> <!-- card.// -->
    
    </div> <!-- col.// -->
    </div>
    </div>



</body>

      <script type="text/javascript" src="{{url_for('static',filename='js/index.js')}}" ></script>

</html>